/* FOOTER PRO */
footer{
    background:#0a001a;
    text-align:center;
    padding:30px 10px;
}

.footer-text{
    margin-bottom:15px;
    font-size:18px;
}

.social-icons a{
    display:inline-block;
    margin:0 10px;
    font-size:30px;
    color:white;
    transition:0.3s;
}

/* hover neon */
.social-icons a:hover{
    color:#cc66ff;
    transform:scale(1.2);
    text-shadow:0 0 10px #cc66ff,0 0 20px #cc66ff;
}

/* สีแต่ละไอคอน */
.facebook:hover{color:#1877f2;}
.instagram:hover{color:#ff4dd2;}
.line:hover{color:#00c300;}